* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.container-wrap {
	margin: 3vh 10%;


}
body {
	background: rgb(41,92,80);
background: radial-gradient(circle, rgba(41,92,80,1) 0%, rgba(68,131,211,1) 0%, rgba(41,92,80,1) 100%);
}