
.cards {
    font-family: $font;
    
    &__item {
        @include size(200px, 300px);
        margin: 10px;
        perspective: 500px;
        transition: all .7s;
        
        &:hover .card {
            transform: rotateY(0deg);
        }  
    }

    .card {
        @include size(100%);
        position: relative;
        transform: rotateY(180deg);
        transform-style: preserve-3d;
        cursor: pointer;
        transition: all .5s;

        &__back {
            @include size(100%);
            @include pos($t:0, $l:0);
            background: url('../images/back1.gif') no-repeat;
            background-size: cover;
            backface-visibility: hidden;
            color: black;
            transform: rotateY(180deg);
            overflow: hidden; 
        }
    
    
        &__front {
            @include size(100%);
            background: rgb(41,92,80);
            background: radial-gradient(circle, rgba(41,92,80,1) 0%, rgba(112,211,68,1) 0%, rgba(41,92,80,1) 100%);            position: relative;
            display: flex;
            border-radius: 15px;
            padding: 15px;
            color: #fff;
            flex-direction: column;
            justify-content: space-between;
            font-size: 40px;
            border: 3px solid #882233;
            box-shadow: 0 0 4px 1px #000;


            &::before {
                content: '\2665';
                @include pos($t:15%, $l:20%);
                font-size: 200px;
                color: #f29547;
            }

            &--booba {
                &::before {
                    content: '\2666';
                    @include pos( $l:25%);
                }
            }

            &--krest {
                &::before {
                    content: '\2663';
                    @include pos( $l:17%);
                    color: #fcfa91;
                }
            }

            &--pika {
                &::before {
                    content: '\2660';
                    @include pos( $l:23%);
                    color: #fcfa91;
                }
            }

        }
    
        &__top {
            display: flex;
            justify-content: flex-start;
            position: relative;

            &::before {
                content: '\2665';
                @include pos($t:90%, $l:-2%);
                font-size: 40px;
                color: #f29547;

            }

            &--booba {
                &::before {
                    content: '\2666';
                }
            }

            &--krest {
                &::before {
                    content: '\2663';
                    color: #fcfa91;
                }
            }

            &--pika {
                &::before {
                    content: '\2660';
                    color: #fcfa91;
                }
            }
            
        }
    
        &__bot {
            transform: rotate(180deg) ;
            position: relative;
            display: flex;
            justify-content: flex-start;

            &::before {
                content: '\2665';
                @include pos($t:90%, $l:-2%);
                font-size: 40px;
                color: #f29547;

            }

            &--booba {
                &::before {
                    content: '\2666';
                }
            }

            &--krest {
                &::before {
                    content: '\2663';
                    color: #fcfa91;
                }
            }

            &--pika {
                &::before {
                    content: '\2660';
                    color: #fcfa91;
                }
            }
        }
    

    }
}